@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../css/css/fonts/ProximaNova-Regular.eot');
    src: url('../css/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../css/fonts/ProximaNova-Regular.woff') format('woff'),
        url('../css/fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../css/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../css/fonts/ProximaNova-Bold.eot');
    src: url('../css/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../css/fonts/ProximaNova-Bold.woff') format('woff'),
        url('../css/fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../css/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    font-family: 'Proxima Nova Rg' ;
    font-size: 30px;
    text-decoration: none;
    color:#ffff;
}


.d-flex {
    display: flex;
    
}

body {
    font-family: 'Proxima Nova Rg';
    /* padding-top: 30px; */
    /* padding-bottom: 100px; */
    margin: 0;
    background-size: cover;
    /* background-color:#004c97;
    opacity: 1 ; */
    color:#fff;
    background: url(../img/nikelbg.png) left;
}

.overlay1 {
    position: absolute;
    width: 100%;
    height: 107%;
    display: block;
    /* background-color:#FFF; */
    backdrop-filter:blur(10px);
    opacity: 0.8;
    top: -50px;
    z-index: 20;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 107%;
    display: block;
    background-color:#FFF;
    opacity: 0.8;
    top: -50px;
    z-index: 10;
}

h1, h2 {
    font-family: 'Proxima Nova Bl';
    color:#ffff;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 5px;
    /* max-width: 520px; */
}

ul, li {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none; 
}

input {
    outline: none;
}

.phone-book {
    z-index: 100;
    width: 1200px;
    /* height: 690px; */
    background: linear-gradient(123.73deg,#0077c8 20.82%,rgba(0,119,200,0) 99.26%),#004c97; 
    margin: 0 auto;
    padding:50px 80px 20px 80px ;
    box-shadow: -7px 7px 16px 2px #737373;
    border-radius: 30px 30px;
    margin-top: 50px;
    position: relative;
 
}

.phone-book:hover {
   transition: all 0.5s;
 
}

.phone-book__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.phone-book__top__text {
    font-family: 'Proxima Nova Bl';
    font-size: 20px;
    color:#ffff;
    text-align: center;
    margin-top: -10px;
}

.subtitle {
    position: absolute;
    top:140px;
    left:150px;
}

.subtitle:before {
    position:absolute;
    content:'';
    width: 50px;
    height: 1px;
    display: block;
    background: linear-gradient(91deg, #FFF 45.27%, rgba(255, 255, 255, 0.00) 187.91%);
    backdrop-filter: blur(5px);
    left:-60px;
    bottom:10px;
}
.subtitle:after {
    position:absolute;
    content:'';
    width: 50px;
    height: 1px;
    display: block;
    background: linear-gradient(91deg, #FFF 45.27%, rgba(255, 255, 255, 0.00) 187.91%);
    backdrop-filter: blur(5px);
    right:-60px;
    bottom:10px;
}

.phone-book__main {
    display: flex;
    justify-content: space-between;
}

.phone-book__main_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 408px;
    height: 120px;
    position: absolute;
    bottom:210px;
}

.phone-book__main_list_item {
    flex-direction: row;
    color: #FFF;
    font-size: 30px;
}

.phone-book__main_icon {
    margin-right: 10px;
}

.phone-book__main_photo {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 300px;
    height: 345px;
    border-radius: 0px 30px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(7.5px);
    text-transform: uppercase;
    font-size: 30px;
    color:#CECECE;
}

.fotoback1 {
    background-image:url('../img/BgF.png');
}

.phone-book__action-btns {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.phone-book__inputs {
    margin-bottom: 10px;
}

.phone-book__input {
    border: none;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(91deg, #FFF 45.27%, rgba(255, 255, 255, 0.00) 187.91%);
    backdrop-filter: blur(5px);
    display: flex;
    width: 408px;
    height: 61px;
    padding: 21px 19px;
    font-size: 20px;
    margin-bottom: 25px;
}

.phone-book__input::placeholder {
    color: #737373;
}

.phone-book__btns {
    width: 408px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phone-book_btn {
    position: relative;
    width: 190px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 2px;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    display:flex;
    align-items: center;
    padding-left: 30px;
}

.search__btn {
    color: #007EC5;
    background: #FFF;
    padding-left: 30px;
    border:none;
}

.clear__btn {
    background:transparent;
    border: 1px solid #ffff;
    color:#ffff;
    position: relative;
}

.arrow {
    position:relative;
    width: 17px;
    height: 0.1rem;
    background-color:#fff;
    right: -48px;
    border-radius:1px;
    z-index: 150;
    rotate: 0deg;
}

.arrow::after {
    position:absolute;
    content:'';
    width: 13px;
    height: 0.1rem;
    background-color:#fff;
    left: -1px;
    rotate: -41deg;
    top:-4px;
    border-radius:1px;
}

.arrow::before {
    position:absolute;
    content:'';
    width: 13px;
    height: 0.1rem;
    background-color:#fff;
    left: -1px;
    rotate: 41deg;
    top:4px;
    border-radius:1px;
}

.clear__btn:hover .arrow {
    background-color:#007EC5;
    rotate: 50deg;
    transition: 0.3s;
}

.clear__btn:hover .arrow::before {
    background-color:#007EC5;
}

.clear__btn:hover .arrow::after {
    background-color:#007EC5;
}

.clear__btn:hover {
    background-color:#fff;
    color: #007EC5;
    transition: background-color .25s linear,border-color .25s linear,color .25s linear;
} 

.clear__btn:hover::after{
    background-color:#fff;
    border-color: #007EC5;
    color: #007EC5;
    transition: background-color .25s linear,border-color .25s linear,color .25s linear;
} 

.clear__btn::after {
    position: absolute;
    content: url('');
    background:transparent;
    border: 1px solid #ffff;
    border-radius: 100%;
    color:#ffff;
    width: 40px;
    height: 39px;
    right: -1px;
    top:-1px;
    justify-content: space-around;
    align-items: center; 
}

.search__btn::after {
    position: absolute;
    content: url('');
    width: 40px;
    height: 39px;
    border: 1px solid #ffff;
    border-radius: 100%;
    background-color:#0077C8;
    right: 0;
    margin-top: -1px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    transition: background-color .23s linear, border-color .23s linear,color .23s linear;
}

.search__btn:hover {
    color:#fff;
    background-color:#004c97;
    transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}

.search__btn:hover .arrow {
    /* background-color:#007EC5; */
    rotate: 120deg;
    transition: 0.3s;
}

.search__btn:hover::after {
    color:#fff;
    background-color:#004c97;
    transition: background-color .24s linear,border-color .24s linear,color .24s linear;
}

.serch_arrow {
    rotate: 180deg;
    right: -53px;
}

.phone-book__bottom {
    position: relative;
    padding: 20px;
}

.copyright {
    font-size: 10px;
    position: absolute;
    right: -30px;
    bottom: 10px;
    color:#D6D6D6;
}
.search__wrapper {
    position: relative;
    
}

.search__result {
    position: absolute;
    z-index: 100500;
    width: 408px;
    background: #fff;
    color:#000;
    top:62px;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: scroll;

}

/* .search__result ul {
    
     
} */

.search__result ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 20px;
    border-radius:5px;
    transition:all 0.3s;
}

.search__result ul li:hover{
    background-color:#007ec570;
}


/* .phone-book_backside {
    z-index: 100;
    width: 1200px;
    height: 690px;
    background: linear-gradient(123.73deg,#0077c8 20.82%,rgba(0,119,200,0) 99.26%),#004c97; 
    margin: 0 auto;
    padding:50px 80px 20px 80px ;
    box-shadow: -7px 7px 16px 2px #737373;
    border-radius: 30px 30px;
    margin-top: 50px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    color:#ffff;
} */


/* .wrapper {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    
}

.info {
    width: 50px;
    height: 50px;
    display: block;
    background-color:#000;
    position: absolute;
    z-index: 500000;
}

.info:hover .wrapper {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
} */

/* .wrapper:hover  {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
} */

/* .phone-book {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} */






